.headerNav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: rgb(255, 255, 255);

    background-color: rgb(255, 152, 114);
    padding: 25px;
}

.headerNav > span{
    font-size: 1.5rem;
}

.headerNav > a{
    text-decoration: none;
    color:  rgb(255, 255, 255);
    font-size: 1.2rem;
}

.active{
    color:  rgba(255, 255, 255, 0.5);
}